<h1>Listing comments</h1>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Post</tr>
    <th></th>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %></td>
   <td><%= comment.post_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>

<%= link_to 'New Post', new_post_path %>

<p>
<%= "Current Logged in User: #{session[:name]}" %>

<p>
<%= link_to 'Home', home_index_path %>
